@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
h2.title{
    background-color: #06357A;
    /* border: 5px solid rgb(4, 110, 78); */
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#layoutSidenav_content .upload-area{
    text-align: left;
    max-width: 100%;
    margin: 30px 30px -10px 30px;
    padding: 10px;   
    text-align: center;
    /* max-height: 20%; */
    /* line-height: 40px; */
    background: rgb(4, 110, 78); 
    /* border: 5px solid rgb(4, 110, 78);/*  */   
    border-radius: 10px;
}
.upload{
    /*background-color: green; /* rgba(0, 153, 255) 
    border: 3px solid green; */
    background-color: #06357A;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin: 0px 45px;
}


.upload:active{
    border-color: white;
}
.progress-container{
    display: inline-block;
    width: 64%;
    border: 2px solid black; 
    height: 30px;
    position: relative;
    top: 13px;
    padding: 2px;
}
.progress{
    width: 0%;
    /*background-color:green; /* rgba(0, 153, 255) */
    height: 100%;
    transition-duration: .3s;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.percent{
    display: inline-block;
    margin-left: 20px;
    color: white;
}
.controls{
    float: right;
    margin-right: 45px;
}
.pause, .resume, .cancel{
    background-color: lightgreen;
    fill: rgb(4, 110, 78);
    padding: 5px;
    margin: 2px;
    margin-top: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.resume{
    display: none;
}

.all-files{
    text-align: left;   
    padding: 20px;
}
h2.file{
    position: relative;
    /* text-align: center; */
    margin-left: 19px;
    top:-30%;
    color: black;  /* rgba(0, 153, 255)*/
    /* background-color: #06357A; */
    max-width: 100%;
    font-size: 25px;
    
}
h2.white{             /* para sa audio*/
    color: white;
    font-size: 1px;
}
h2.black{              /* para sa video*/
    color: white;
    font-size: 1px;
}

.all-files ul{
    position: relative;
    left: -15px;
}
.all-files ul li{
    list-style: none;
    background-color: rgb(4, 110, 78); /* rgba(0, 153, 255)*/
    display: inline-block;
    padding: 10px;
    padding-right: 45px;
    color: white;
    width: 300px;
    border-radius: 3px;
    margin: 5px;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.all-files ul li svg{
    fill: white;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.expand-container{
    width: 100px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(0, 153, 255, 0.2);
    background-color: #06357A;
    position: absolute;
    height: 78px;
    display: none;
}
.expand-container ul li{
    list-style: none;
    font-size: 14px;
    text-align: center;
    margin: 4px;
    margin-left: 5px;
    color: white;
    position: relative;
    left: -20px;
    top: -8px;
    cursor: pointer;
}
.loader{
    animation: rotate 1.5s linear infinite;
    width: 60px;
    margin-top: 7px;
    margin-left: 20px;
    display: none;
}
@keyframes rotate{
    to{transform: rotate(360deg);}
}


.text-description{
    height: 10%;
}

.description {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
}
.description > .window {
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    background-color: #198754;
    z-index: 11;
    color: white;
    font-weight: 400;
    border-radius: 20px;
}

.description #close-desc{
    position: relative;
    top: 35%;
    left: 85%;
    border: none;
    border-radius: 3px;
    background: #06357A;
    color: white;
}

.description #close-desc:hover{
    background: blue;
}

h4{
    color: white;
    font-weight: 500;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color:rgb(3, 20, 97) ; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
    }

    #myBtn:hover {
    background-color: blue; 
    }