@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header h2{
    color: #fff;
    background: #012514;
    border-radius: 10px;
}
body{
    text-align: center;
}

main{
    position: relative;
    padding: 20px;
    width: 100%;
}

.upload-area{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: rgb(4, 110, 78);
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0,0,0,0.1);
    
}

.upload{
    /*background-color: green; /* rgba(0, 153, 255) 
    border: 3px solid green; 
    background-image: linear-gradient(to right, #848cfa 0%, #8fd3f4 51%, #84fab0 100%);*/
    background: rgb(3, 20, 97);
    font-family: 'Noto Sans', sans-serif;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin: 0px 45px;
    position: relative;
    left: 4%;
    margin-top: 15px;
    top: 5px;
}

.upload:active{
    border-color: white;
}
.progress-container{
    display: inline-block;
    width: 40%;
    border: 2px solid black; 
    height: 30px;
    position: relative;
    top: 13px;
    
}
.progress{
    width: 0%;
    /*background-color:green; /* rgba(0, 153, 255) */
    height: 100%;
    transition-duration: .3s;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.percent{
    display: inline-block;
    background: rgb(3, 20, 97);
    color:white;
    height: 28.5px;
    width: 50px;

    /*margin-left: 10px;*/
}
.controls{
    float: right;
    margin-right: 45px;
}
.pause, .resume, .cancel{
    background-color: rgb(3, 20, 97);
    fill: white;
    padding: 5px;
    margin: 2px;
    margin-top: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.resume{
    display: none;
}

.all-files{
    text-align: left;
    padding: 20px;
}

/*
h2{
    margin-left: 25px;
    color: green;   
}
h2.white{             
    color: white;
}
h2.black{            
    color: white;
}
*/
.all-files ul{
    position: relative;
    left: -15px;
}
.all-files ul li{
    list-style: none;
    background-color: green; /* rgba(0, 153, 255)*/
    display: inline-block;
    padding: 10px;
    padding-right: 45px;
    color: white;
    width: 300px;
    border-radius: 3px;
    margin: 5px;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.all-files ul li svg{
    fill: white;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.expand-container{
    width: 100px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(0, 153, 255, 0.2);
    background-color: white;
    position: relative;
    height: 75px;
    display: none;
}
.expand-container ul li{
    list-style: none;
    font-size: 14px;
    text-align: center;
    margin: 4px;
    color: black;
    position: relative;
   /* left: -40px;
    top: -10px;*/
    cursor: pointer;
}
.loader{
    animation: rotate 1.5s linear infinite;
    width: 60px;
    margin-top: 7px;
    margin-left: 20px;
    display: none;
}
@keyframes rotate{
    to{transform: rotate(360deg);}
}

.white h2{
    font-size: 20px;
    color: white;

}
